<h4 class="text-3xl font-bold m-2">Agregar Personaje</h4>
<form (ngSubmit)="emitCharacter()">
  <div class="w-full flex-row">
    <input
      class="m-5 border-2 p-2 w-1/2"
      [(ngModel)]="character.name"
      name="name"
      type="text"
      placeholder="nombre del personaje "
    />

    <input
      class="m-5 border-2 p-2 w-1/2"
      [(ngModel)]="character.power"
      name="power"
      type="number"
      placeholder="poder"
    />

    <button
      class="p-2 bg-blue-500 text-white border-2 border-blue-800 rounded-md w-1/2 m-5"
      type="submit"
    >
      Agregar
    </button>
  </div>

  <!-- <span> {{ character | json }} </span> -->
</form>
